[submodule "artificial-intelligence-machine-learning"]
	path = artificial-intelligence-machine-learning
	url = https://github.com/martindes01/artificial-intelligence-machine-learning.git
[submodule "computer-systems"]
	path = computer-systems
	url = https://github.com/martindes01/computer-systems.git
[submodule "data-structures-algorithms-databases"]
	path = data-structures-algorithms-databases
	url = https://github.com/martindes01/data-structures-algorithms-databases.git
[submodule "software-workshop-1"]
	path = software-workshop-1
	url = https://github.com/martindes01/software-workshop-1.git
[submodule "software-workshop-2"]
	path = software-workshop-2
	url = https://github.com/martindes01/software-workshop-2.git
[submodule "assignment-2"]
	path = assignment-2
	url = https://github.com/martindes01/assignment-2.git
